/Code/encryptortext/nbproject/private/
/Code/passwordgenerator/nbproject/private/
/Code/practica2encryptortext/nbproject/private/
/Code/practica2passwordgenerator/nbproject/private/
/Code/practica2encryptortext/build/
/Code/practica2passwordgenerator/build/
